@charset "UTF-8";

:root {
    --cor-0 : #4FD3B4;
    --cor-1 : #F28B66;
    --cor-2 : #3D1773;
    --cor-3 : #456C90;
    --cor-4 : #B10E1E;
}

* {
    margin: 0px;
    padding: 0px;
}

div#phone {
    background-image: url(../images/iphone-portrait.png);
    width: 305px;
    height: 621px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 30%);
}

div > iframe {
    background-color: black;
    height: 473px;
    width: 269px;
    position: absolute;
    left: 6%;
    top: 12.4%;
}
body {
    background: var(--cor-0) url('../images/efe-kurnaz.jpg') center center no-repeat fixed;
    background-size: cover;
    position: relative;
}